@charset "UTF-8";

@font-face {
  font-family: bigruixianblackgbv;
  src: url('../font/bigruixianblackgbv1.0.TTF');
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

body {
  background: #111117;
  width: 1920px;
  height: 1080px;
  position: absolute;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.clear {
  clear: both;
}

.l {
  float: left;
}

.volume {
  width: 400px;
  height: 355px;
  position: absolute;
  left: 70px;
  top: 50px;
  z-index: 10;
}

.volume .fz24 {
  font-size: 24px !important;
}

.volume ul .today-trade {
  height: 44px;
  overflow: hidden;
  font-family: 'BigruixianBlackGBV';
  font-weight: 600
}

.volume ul .trade-msg {
  font-family: '微软雅黑';
}

.volume ul .today-trade span {
  display: inline-block;
  color: #00ecef;
  width: 30px;
  height: 44px;
  font-size: 52.64px;
  line-height: 44px;
}

.volume ul .today-trade .sign-box span {
  width: 15px;
  margin-top: -5px;
}

.volume ul .today-trade .digit-container {
  width: 38px;
  text-align: center;
  overflow: hidden;
  font-size: 0;
}

.volume ul .accumulate-trade {
  margin-top: 24px;
}

.volume ul .accumulate-trade span {
  display: inline-block;
  color: #00ecef;
  width: 30px;
  height: 44px;
  font-size: 31.77px;
  line-height: 44px;
}

.volume ul .accumulate-trade {
  height: 44px;
  overflow: hidden;
  font-family: 'BigruixianBlackGBV';
  font-weight: 600;
  font-size: 31.77px;
}

.volume ul .accumulate-trade .trade-msg {
  font-family: '微软雅黑';
}

.volume ul .accumulate-trade .sign-box span {
  width: 15px;
}

.volume ul .accumulate-trade .digit-container {
  width: 25px;
  text-align: center;
  overflow: hidden;
  font-size: 0;
}

.volume ul .average-trade .trade-msg {
  position: relative;
  float: left;
  color: #fff;
}

.volume ul .average-trade {
  height: 44px;
  overflow: hidden;
  font-family: 'BigruixianBlackGBV';
  font-weight: 600;
  font-size: 24.8px;
  display: inline-block;;
}

.volume ul .average-trade .trade-msg {
  font-family: '微软雅黑';
}

.volume ul .average-trade span {
  display: inline-block;
  color: #00ecef;
  width: 30px;
  height: 44px;
  font-size: 24.8px;
  line-height: 44px;
}

.volume ul .average-trade .sign-box span {
  width: 15px;
}

.volume ul .average-trade .digit-container {
  width: 30px;
  text-align: center;
  overflow: hidden;
  font-size: 0;
}

.volume ul .nearlyone .trade-msg{
  display: inline-block;
} 

.volume ul .nearlyone {
  height: 44px;
  overflow: hidden;
  font-family: 'BigruixianBlackGBV';
  float: left;
}

.volume ul .trade-register-one{
  display: inline-block;
  float: left;
}

.volume ul .nearlyone span {
  display: inline-block;
  color: #00ecef;
  width: 30px;
  height: 44px;
  font-size: 24.8px;
  line-height: 44px;
}

.volume ul .nearlyone .sign-box span {
  width: 15px;
}

.sign-box{
  margin-top: 0!important;
}

.volume ul .nearlyone .digit-container {
  width: 30px;
  text-align: center;
  overflow: hidden;
  font-size: 0;
  font-family: 'BigruixianBlackGBV';
}

.volume ul .transaction-one {
  height: 44px;
  overflow: hidden;
  font-family: 'BigruixianBlackGBV';
  float: left;
}

.volume ul .transaction-one .trade-msg {
  font-family: '微软雅黑';
  float: left;
}

.volume ul #transaction-one span {
  display: inline-block;
  color: #00ecef;
  width: 30px;
  height: 44px;
  font-size: 24.8px;
  line-height: 44px;
}

.volume ul #transaction-one .sign-box span {
  width: 15px;
}



.volume ul li:nth-of-type(5){
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.volume ul li:nth-of-type(5) .trade-msg{
  display: inline-block;
  margin-top: 0
}

.volume ul li:nth-of-type(6){
  display: flex;
  align-items: center;
}
.volume ul li:nth-of-type(6) .trade-msg{
  display: inline-block;
  float: left;
  margin-top: 0
}

.volume ul li:nth-of-type(7){
  display: flex;
  align-items: center;
}
.volume ul li:nth-of-type(7) .trade-msg{
  display: inline-block;
  float: left;
  margin-top: 0
}



.volume ul .transaction-one .digit-container {
  width: 30px;
  text-align: center;
  overflow: hidden;
  font-size: 0;
  font-family: 'BigruixianBlackGBV';
}

.volume ul .trade-msg {
  font-size: 27.23px;
  margin-bottom: 6px;
  margin-top: 6px;
  color: #fff;
}

.volume ul .mar21 {
  margin-top: 4px;
}

.volume ul .mt37 {
  margin-top: 30px !important;
}

.volume ul .countNumber {
  color: #02cfd2;
}

.tradecount {
  position: absolute;
  top: 50px;
  left: 810px;
  width: 270px;
  height: 205px;
  z-index: 10;
}

.tradecount .today-count {
  height: 44px;
  overflow: hidden;
}

.tradecount .today-count span {
  display: inline-block;
  color: #00ecef;
  width: 35px;
  height: 44px;
  font-size: 52.64px;
  line-height: 44px;
}

.tradecount .today-count .sign-box span {
  width: 15px;
}

.tradecount .today-count .digit-container {
  width: 35px;
  text-align: center;
  overflow: hidden;
  font-size: 0;
  font-family: 'BigruixianBlackGBV';
}

.tradecount ul .trade-msg {
  font-size: 27.23px;
  margin-bottom: 6px;
  margin-top: 6px;
  color: #fff;
  font-family: '微软雅黑';
}

.tradecount ul .accumutrans {
  height: 44px;
  overflow: hidden;
  font-family: 'BigruixianBlackGBV';
}

.tradecount ul .accumutrans span {
  display: inline-block;
  color: #00ecef;
  width: 30px;
  height: 44px;
  font-size: 31.77px;
  line-height: 44px;
}

.tradecount ul .accumutrans .sign-box span {
  width: 15px;
}

.tradecount ul .accumutrans .digit-container {
  width: 30px;
  text-align: center;
  overflow: hidden;
  font-size: 0;
  font-family: 'BigruixianBlackGBV';
}

.register-count {
  width: 264px;
  height: 202px;
  position: absolute;
  left: 1388px;
  top: 40px;
  z-index: 10;
}

.register-count ul .register-box {
  font-size: 31px;
  width: 28px !important;
}

.register-count ul .today-register {
  height: 44px;
  overflow: hidden;
  font-family: 'BigruixianBlackGBV';
}

.register-count ul span {
  display: inline-block;
  color: #00ecef;
  width: 35px;
  height: 44px;
  font-size: 52.64px;
  line-height: 44px;
}

.register-count ul .digit-container {
  width: 35px;
  text-align: center;
  overflow: hidden;
  font-size: 0;
  font-family:'BigruixianBlackGBV';
}

.register-count ul .accumulatedUser {
  height: 44px;
  overflow: hidden;
  font-family: 'BigruixianBlackGBV';
}

.register-count ul span {
  display: inline-block;
  color: #00ecef;
  width: 30px;
  height: 44px;
  font-size: 31.77px;
  line-height: 44px;
}

.register-count ul .sign-box span {
  width: 15px;
}

.register-count ul .digit-container {
  width: 30px;
  text-align: center;
  overflow: hidden;
  font-size: 0;
  font-family: 'BigruixianBlackGBV';
}

.register-count ul .register-msg {
  font-size: 27px;
  color: #fff;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: '微软雅黑';
}

#userProvince {
  height: 500px;
  right: 62px;
  position: absolute;
  width: 430px;
  bottom: 0;
  width: 438px;
  text-align: center;
  z-index: 10;
}

#userProvince .province-head p {
  color: #fff;
  display: inline-block;
}

#userProvince .province-head img {
  margin-left: 1vw;
}

#userProvince .province-content {
  margin-top: 40px;
}

#userProvince .province-content ul li {
  color: #fff;
  width: 100%;
  height: 50px;
}

#userProvince .province-content ul li .rank {
  padding-left: 10px;
  float: left;
}

#userProvince .province-content ul li img {
  float: left;
}

#userProvince .province-content ul li .box .province {
  padding-left: 20px;
}

#userProvince .province-content ul li .box .pl33 {
  padding-left: 33px !important;
}

#userProvince .province-content ul li .box .pl24 {
  padding-left: 24px !important;
}

#userProvince .province-content ul li .box .process {
  height: 10px;
  background: #00ecef;
  margin-top: 6px;
  border-radius: 6px;
  margin-left: 14px;
}

#userProvince .province-content ul li .box .ratio {
  float: right;
  color: #00ecef;
}

#userProvince .province-content ul li .box img,
#userProvince .province-content ul li .box span,
#userProvince .province-content ul li .box div {
  float: left;
}

.recently {
  position: absolute;
  bottom: 0;
  left: 70px;
  width: 500px;
  height: 140px;
  z-index: 10;
}

.recently .item{
  position: absolute;
  width: 100%;
  z-index: 20;
  color: #fff;
  top: -27px;
}

.recently .item li{
  float: left;
  width: 25%;
}

.myscroll {
  width: 500px;
  height: 140px;
  line-height: 26px;
  font-size: 12px;
  overflow: hidden;
  color: #fff;
}
.myscroll .myscrollbox{
 height: 90px;
 overflow: hidden;
 position: relative;
 transition: all 1s linear;
}

.myscroll ul{
  height: 30px;
}

.myscroll .myscroll-item{
  position: relative;
  height: 30px;;
}

.myscroll li {
  height: 26px;
  float: left;
  width: 25%;
  text-align: center;
}

.myscroll a {
  color: #333;
  text-decoration: none;
}

.myscroll a:hover {
  color: #ED5565;
  text-decoration: underline;
}