* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

body {
  background: #111117;
  width: 1920px;
  height: 1080px;
  position: relative;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.hide {
display: none !important;
}